<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="app.financoid"
      android:versionCode="1"
      android:versionName="0.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="Financoid"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="OverviewActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="FormActivity"
        		  android:theme="@style/FinancoidMainTheme"></activity>
        <activity android:name="NewTransactionActivity"
        		  android:theme="@style/FinancoidMainTheme"></activity>
        <activity android:name="CategoriesActivity"
        		  android:theme="@style/FinancoidMainTheme"></activity>
        <activity android:name="SettingsActivity"
        		  android:theme="@style/FinancoidMainTheme"></activity>
        <activity android:name="StatisticsActivity"
        		  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="LatestActivity"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="org.achartengine.GraphicalActivity"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="ExportActivity"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="CSVView"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="SQLView"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="SQLLiteView"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="BudgetsActivity"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
       	<activity android:name="AccountActivity"
       			  android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="TransactionManager"
        		  android:theme="@android:style/Theme.NoTitleBar"></activity>

    </application>


</manifest> 